In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

import os
import glob
import shutil

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:

config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config["DEFAULT"]['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config["DEFAULT"]['AWS_SECRET_ACCESS_KEY']

In [3]:
with open("dl.cfg", "r") as f_in:
    lines = f_in.read()
    print(lines)

[DEFAULT]
AWS_ACCESS_KEY_ID = 'AKIAZBKN642SPIY2BLXT'
AWS_SECRET_ACCESS_KEY = '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'

In [4]:
config.sections()

[]

In [5]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [6]:
spark = SparkSession.builder.getOrCreate()

22/12/26 18:05:11 WARN Utils: Your hostname, fklein-desktop resolves to a loopback address: 127.0.1.1; using 192.168.178.32 instead (on interface enp2s0)
22/12/26 18:05:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/fklein/.zindi-venv/.venv/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/12/26 18:05:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
type(spark)

pyspark.sql.session.SparkSession

In [8]:
input_data = "./data/"
output_data = "./output/"

In [80]:
def process_song_data(spark, input_data, output_data):
    # get filepath to song data file
    song_data = input_data + "/song_data/"
    
    # read song data file
    df = spark.read.json(song_data, recursiveFileLookup=True).distinct()

    # extract columns to create songs table
    songs_table = (
        df
        .select(
            "song_id",
            "title",
            "artist_id",
            "year",
            "duration",
        )
        .repartition("year", "artist_id")
    )
    
    # write songs table to parquet files partitioned by year and artist
    songs_table.write.parquet(output_data + "songs.parquet")

    # extract columns to create artists table
    artists_table = (
        df
        .select(
            "artist_id",
            F.col("artist_name").alias("name"),
            F.col("artist_location").alias("location"),
            F.col("artist_latitude").alias("latitude"),
            F.col("artist_longitude").alias("longitude"),
        )
        .repartition("artist_id")
    )
    
    # write artists table to parquet files
    artists_table.write.parquet(output_data + "artists.parquet")


if os.path.exists(output_data):
    pass
    print("try to delete")
    shutil.rmtree(output_data)
os.makedirs(output_data, exist_ok=True)

df_songs = process_song_data(spark=spark, input_data=input_data, output_data=output_data)
# df_songs.limit(10).toPandas()

try to delete

In [81]:

def process_log_data(spark, input_data, output_data):
    # get filepath to log data file
    log_data = input_data + "log_data/"

    # read log data file
    df = spark.read.json(log_data, recursiveFileLookup=True)
    
    # # filter by actions for song plays
    df = df.filter(F.col("page") == "NextSong")

    # extract columns for users table
    df = (
        df
        .withColumnRenamed("userId", "user_id")
        .withColumnRenamed("firstName", "first_name")
        .withColumnRenamed("lastName", "last_name")
    )
    users_table = (
        df
        .select(
            "user_id",
            "first_name",
            "last_name",
            "gender",
            "level"
        )
        .distinct()
        .repartition("user_id")
    )

    # write users table to parquet files
    users_table.write.parquet(output_data + "users.parquet")

    # create timestamp column from original timestamp column
    df = df.withColumn("start_time", F.to_timestamp(F.col("ts")/1000))
    
    # # extract columns to create time table
    time_table = (
        df
        .select("start_time")
        .distinct()
        .withColumn("hour", F.hour("start_time"))
        .withColumn("day", F.dayofmonth("start_time"))
        .withColumn("week", F.weekofyear("start_time"))
        .withColumn("year", F.year("start_time"))
        .withColumn("weekday", (F.dayofweek("start_time") - 1) % 7 + 1)
        .repartition("year", F.month(F.col("start_time")))
    )
    
    # write time table to parquet files partitioned by year and month
    time_table.write.parquet(output_data + "time.parquet")

    # read in song data to use for songplays table
    song_df = spark.read.parquet(output_data + "songs.parquet")

    # extract columns from joined song and log datasets to create songplays table 
    songplays_table = (
        df
        .join(
            song_df,
            [
                df["song"] == song_df["title"],
                df["length"] == song_df["duration"]
            ],
            "left"
        )
        .withColumnRenamed("sessionId", "session_id")
        .withColumnRenamed("userAgent", "user_agent")
        .withColumn("songplay_id", F.concat_ws("-", F.col("session_id"), F.col("ts").cast("string")))
        .select(
            "songplay_id",
            "start_time",
            "user_id",
            "level",
            "song_id",
            "artist_id",
            "session_id",
            "location",
            "user_agent"
        )
        .repartition(F.year(F.col("start_time")), F.month(F.col("start_time")))
    )

    # write songplays table to parquet files partitioned by year and month
    songplays_table.write.parquet(output_data + "songplays.parquet")
    

os.makedirs(output_data, exist_ok=True)

df = process_log_data(spark=spark, input_data=input_data, output_data=output_data)

In [82]:
df.toPandas().head(30)

                start_time  hour  day  week  year  weekday
0  2018-11-21 07:18:12.796     7   21    47  2018        4
1  2018-11-21 19:49:23.796    19   21    47  2018        4
2  2018-11-14 16:20:15.796    16   14    46  2018        4
3  2018-11-05 17:31:59.796    17    5    45  2018        2
4  2018-11-13 19:00:26.796    19   13    46  2018        3
5  2018-11-13 23:23:24.796    23   13    46  2018        3
6  2018-11-30 05:32:02.796     5   30    48  2018        6
7  2018-11-30 07:12:54.796     7   30    48  2018        6
8  2018-11-16 13:46:18.796    13   16    46  2018        6
9  2018-11-16 21:07:27.796    21   16    46  2018        6
10 2018-11-20 03:19:12.796     3   20    47  2018        3
11 2018-11-20 17:52:10.796    17   20    47  2018        3
12 2018-11-20 20:05:55.796    20   20    47  2018        3
13 2018-11-24 07:58:52.796     7   24    47  2018        7
14 2018-11-24 13:58:46.796    13   24    47  2018        7
15 2018-11-24 14:43:57.796    14   24    47  2018        7
16 2018-11-29 02:09:58.796     2   29    48  2018        5
17 2018-11-29 16:37:16.796    16   29    48  2018        5
18 2018-11-29 22:17:30.796    22   29    48  2018        5
19 2018-11-19 06:17:27.796     6   19    47  2018        2
20 2018-11-19 21:52:46.796    21   19    47  2018        2
21 2018-11-23 18:55:18.796    18   23    47  2018        6
22 2018-11-09 12:47:36.796    12    9    45  2018        6
23 2018-11-09 14:52:09.796    14    9    45  2018        6
24 2018-11-26 08:17:00.796     8   26    48  2018        2
25 2018-11-08 12:51:06.796    12    8    45  2018        5
26 2018-11-08 13:28:14.796    13    8    45  2018        5
27 2018-11-12 16:55:33.796    16   12    46  2018        2
28 2018-11-07 03:56:26.796     3    7    45  2018        4
29 2018-11-07 16:16:17.796    16    7    45  2018        4

In [70]:
df_pandas = df.repartition("hour").toPandas()  # .unique("month")
type(df_pandas)
# df.show()

pandas.core.frame.DataFrame

In [72]:
df_pandas["month"].nunique()

1

In [211]:
def read_parquet_and_print(filepath):
    df = spark.read.parquet(filepath)
    display(df.limit(10).toPandas())
    display(df.printSchema())

In [212]:
read_parquet_and_print(output_data + "songs.parquet")

              song_id                                                 title           artist_id  year   duration
0  SOAOIBZ12AB01815BE  I Hold Your Hand In Mine [Live At Royal Albert Hall]  ARPBNLO1187FB3D52F  2000  43.36281
1  SONYPOM12A8C13B2D7  I Think My Wife Is Running Around On Me (Taco Hell)   ARDNS031187B9924F0  2005  186.48771
2  SODREIN12A58A7F2E5  A Whiter Shade Of Pale (Live @ Fillmore West)         ARLTWXK1187FB5A3F8  0     326.00771
3  SOYMRWW12A6D4FAB14  The Moon And I (Ordinary Day Album Version)           ARKFYS91187B98E58F  0     267.70240
4  SOWQTQZ12A58A7B63E  Streets On Fire (Explicit Album Version)              ARPFHN61187FB575F6  0     279.97995
5  SOBAYLL12A8C138AF9  Sono andati? Fingevo di dormire                       ARDR4AC1187FB371A1  0     511.16363
6  SOOLYAZ12A6701F4A6  Laws Patrolling (Album Version)                       AREBBGV1187FB523D2  0     173.66159
7  SOBBUGU12A8C13E95D  Setting Fire to Sleeping Giants                       ARMAC4T1187FB3FA4C  2004  207.77751
8  SOBLGCN12AB0183212  James (Hold The Ladder Steady)                        AR47JEX1187B995D81  1985  124.86485
9  SOFFKZS12AB017F194  A Higher Place (Album Version)                        ARBEBBY1187B9B43DB  1994  236.17261

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

None

In [213]:
read_parquet_and_print(output_data + "artists.parquet")

            artist_id                                                                                            name                       location  latitude  longitude
0  ARDR4AC1187FB371A1  Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti                                NaN       NaN
1  ARMAC4T1187FB3FA4C  The Dillinger Escape Plan                                                                       Morris Plains, NJ              40.82624 -74.47995
2  ARNF6401187FB57032  Sophie B. Hawkins                                                                               New York, NY [Manhattan]       40.79086 -73.96644
3  AROUOZZ1187B9ABE51  Willie Bobo                                                                                     New York, NY [Spanish Harlem]  40.79195 -73.94512
4  ARI2JSK1187FB496EF  Nick Ingman;Gavyn Wright                                                                        London, England                51.50632 -0.12714
5  AREBBGV1187FB523D2  Mike Jones (Featuring CJ_ Mello & Lil' Bran)                                                    Houston, TX                   NaN       NaN
6  ARD842G1187B997376  Blue Rodeo                                                                                      Toronto, Ontario, Canada       43.64856 -79.38533
7  AR9AWNF1187B9AB0B4  Kenny G featuring Daryl Hall                                                                    Seattle, Washington USA       NaN       NaN
8  AR0RCMP1187FB3F427  Billie Jo Spears                                                                                Beaumont, TX                   30.08615 -94.10158
9  AR10USD1187B99F3F1  Tweeterfriendly Music                                                                           Burlington, Ontario, Canada   NaN       NaN

root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

None

In [214]:
read_parquet_and_print(output_data + "time.parquet")

               start_time  hour  day  week  year  weekday
0 2018-11-15 08:51:04.796  8     15   46    2018  4
1 2018-11-15 17:53:25.796  17    15   46    2018  4
2 2018-11-15 20:26:51.796  20    15   46    2018  4
3 2018-11-15 22:00:38.796  22    15   46    2018  4
4 2018-11-21 07:46:58.796  7     21   47    2018  3
5 2018-11-21 19:29:27.796  19    21   47    2018  3
6 2018-11-14 13:22:15.796  13    14   46    2018  3
7 2018-11-14 16:13:13.796  16    14   46    2018  3
8 2018-11-15 00:22:14.796  0     15   46    2018  4
9 2018-11-28 07:20:15.796  7     28   48    2018  3

root
 |-- start_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

None

In [215]:
read_parquet_and_print(output_data + "users.parquet")

  user_id  first_name  last_name gender level
0  88      Mohammad    Rodriguez  M      free
1  29      Jacqueline  Lynch      F      free
2  69      Anabelle    Simpson    F      free
3  75      Joseph      Gutierrez  M      free
4  68      Jordan      Rodriguez  F      free
5  14      Theodore    Harris     M      free
6  2       Jizelle     Benjamin   F      free
7  40      Tucker      Garrison   M      free
8  61      Samuel      Gonzalez   M      free
9  100     Adler       Barrera    M      free

root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

None

In [ ]:

def main():
    spark = create_spark_session()
    input_data = "s3a://udacity-dend/"
    output_data = ""
    
    process_song_data(spark, input_data, output_data)    
    process_log_data(spark, input_data, output_data)


if __name__ == "__main__":
    main()